/* Colors */
a, a:link, a:visited, a:hover, a:active {
  color: #2455c3;
}

article {
  border-color: #ddd;
}

article, section {
  background-color: #f0f0f0;
}

body {
  background-color: #333;
  color: #222;
}

code, .code, a.code, pre {
  color: #10a010;
}

strong {
  font-weight: 600;
}

table, td, th {
  border-color: silver;
}

.control-char {
  color: #222;
}

.deprecated, .provisional {
  border-left-color: #ebe702;
}

.fixed-menu {
  background-color: #f0f0f0;
}

.incorrect {
  color: #ff0000;
}

.obsolete {
  border-left-color: red;
}